.sidebar-container {
  background: #00142a;
  transition: width .6s;
  &.is-active {
    width: 64px !important;
  }
}

.el-menu-item.is-active {
  color: #fff !important;
  background-color: #1A8CE1 !important;
}
.el-submenu .el-menu-item:hover{color:#fff!important;background: #1A8CE1 !important;}
.el-submenu .el-menu-item:hover i{ color: #fff!important;}
.nest-menu .el-submenu>.el-submenu__title {
  background-color: #021d3a !important;
  &:hover {
    background: #1A8CE1 !important;
  }
}
